body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header, main, footer {
    margin: 1.25em auto;
    max-width: 760px;
}
header img {
    float: right;
}
header, footer {
    padding: 1em;
    text-align: center;
    background: #62535E;
    color: #fff;
    border-radius: 5px;
}
h1 {
    font-size: 2.5em;
}
h2 {
    font-size: 1.5em;
    color: #E0A276;
    border-bottom: 1px solid #efefef;
}
footer p {
    line-height: 1;
}
footer a {
    color: #fff
}
.highlighted {
    color: #E0A276;
}