@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@font-face {
    font-family: 'Satoshi';
    src: url('/vendors/Satoshi_fontFamily/Fonts/WEB/fonts/Satoshi-Regular.woff2') format('woff2'),
        url('/vendors/Satoshi_fontFamily/Fonts/WEB/fonts/Satoshi-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Satoshi';
    src: url('/vendors/Satoshi_fontFamily/Fonts/WEB/fonts/Satoshi-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

html {
    scrollbar-color: #000;
    scrollbar-width: thin;
    scroll-behavior: smooth;
}

body {
    font-family: "Satoshi", sans-serif;
    font-size: 18px;
    color: #202124 !important;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: normal;
    height: auto;
    background-color: #fff !important;
}

/*--------------------
    Slim-Scroll Styles
    ---------------------*/
/* scroll width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* scroll Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #000;
}

/* scroll Handle */
::-webkit-scrollbar-thumb {
    background: yellow;
    border-radius: 10px;
}

/* scroll Handle on hover */
::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
}

/* scroll Height on Horizontal */
::-webkit-scrollbar:horizontal {
    width: 6px;
    height: 6px;
}
.container{
  max-width: 1000px;
}
/* Nav bar  */
.vc_bodyContainer{
    position: relative;
    top: 70px;
}

.vc_primaryNavBar {
    display: flow-root;
    height: 70px;
    background-color: #FFFFFF;
    color: #1D1D1F;
    padding: 0;
  }
  .vc_primaryNavBar .navbar-brand {
    color: #1D1D1F;
    min-height: 62px;
  }
  .vc_primaryNavBar .navbar-brand .nw_BrandLogo {
    width: 140px;
  }
  .vc_primaryNavBar .navbar-toggler:focus {
    border-color: transparent;
    outline: none;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .vc_primaryNavBar .navbar-nav {
    white-space: nowrap;
    border: 1px solid #E6E6E6;
    border-radius: 25px;
  }
  .vc_primaryNavBar .navbar-nav .nav-item {
    text-align: center;
    display: inline-block;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu {
    width: 100%;
    left: 0;
    top: auto;
    background-color: #F2F4F8;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
            box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    margin: 0;
    padding: 0;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu ul {
    width: 100%;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu ul li {
    list-style: none;
    border-bottom: 1px solid #1D1D1F;
    padding: 0.75rem 0;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu ul li:last-child {
    border-bottom: none !important;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu ul li a {
    text-decoration: none;
    color: #1D1D1F;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu ul li a:hover {
    color: #000 !important;
    cursor: pointer;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu ul li p {
    margin: 0;
    color: #666666;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .dropdown-menu ul li:hover a {
    color: #FFC900 !important;
    cursor: pointer;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .nav-link {
    color: #202124;
    text-decoration: none;
    padding: 0.75rem;
    vertical-align: middle;
    cursor: pointer;
    font-weight: 500;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .nav-link:hover, .vc_primaryNavBar .navbar-nav .nav-item .nav-link:focus, .vc_primaryNavBar .navbar-nav .nav-item .nav-link.active {
    color: #FFC900 !important;
    cursor: pointer;
  }
  .vc_primaryNavBar .navbar-nav .nav-item .nav-link::after {
    content: none;
  }
  .vc_primaryNavBar .nw_navLink {
    color: #1D1D1F;
    text-decoration: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .vc_primaryNavBar .nw_navLink:hover, .vc_primaryNavBar .nw_navLink:focus, .vc_primaryNavBar .nw_navLink.active {
    color: #FFC900 !important;
  }
  .vc_primaryNavBar .nw_navActive {
    color: #FFC900 !important;
  }
  /* Font Sizes */
  .Header1{
    font-size: 36px;
  }
  /* buttons */
  .vcBtn {
    font-size: 16px;
    position: relative;
    display: inline-block;
    box-shadow: none;
    margin: 0px;
    height: 48px;
    min-width: 155px;
    padding: 10px 28px;
    z-index: 2;
    overflow: hidden;
    -webkit-transition: width 0.25s;
    transition: width 0.25s;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    line-height: 1.5;
    align-self: center;  
    background-color: #FFC900;
    color: #FFFFFF;
    border: 1px solid #FFC900;
    border-radius: 25px;
  }  
  .vcBtn:hover {
        cursor: pointer;
    }
    .vcBtn:focus {
        outline: none;
    }
    .vcBtn:disabled {
        cursor: not-allowed;
        border: 2px solid #EDE5FF !important;
        background-color: #EDE5FF !important;
    }

.vc_Medium{
  font-weight: 500;
}


.owl-nav {
  display: none;
}

.owl-carousel .owl-item img {
  width: auto;
}
