@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
body {
    font-size: 16px;
    line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
	background-color: #FFF1E6;
	width:100% !important; 
}
header, main, footer {
    margin: 0 auto;
    max-width: 1100px;
}
header img {
    float: right;
}
main picture {
    text-align: center;
}
header, footer {
    padding: 1em;
    text-align: center;
    background: #CB997E;
    color: #fff;
    border-radius: 0px;
}
h1 {
    font-size: 2.5em;
}
footer p {
    line-height: 1;
}
footer a {
    color: #fff
}
.highlighted {
    color: #fff;
}
/* Main Section and Lazy Loading Images */

main {
    display: flex;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    background-color: #fff;
    padding: 16px;
}

main img {
    margin: 0.5rem 0;
    filter: blur(0em);
    transition: filter 1s;
    border:1px solid #CB997E;
    padding: 4px;
}

main img[data-src] {
    filter: blur(0.2em);
}

main picture {
    text-align: center;
}
form div.radio-buttons input {
    width: auto;
    margin: 6px 10px;
  }
form, fieldset {
    border: 0;
}
