@media only screen and (min-width: 60em) {

    nav {
        background: var(--primary-color); /* Old browsers */
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */    
    }
        
    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
   }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
    }

    br.responsive {
        display: none;
    }

    .heading {
        font-size: 100%;
    }

    header img {
        width: 100%;
    }
    h2 {
        font-size: 28px;
    }
    .topsection{
        margin: 0 auto;
        max-width: 100%;
        /*padding: 1.8em 10em;*/
    }
    .weather-summary-overlay {
        font-family: "Poppins", sans-serif;
        padding: 0 60px;
        position: absolute;
        top: 100px;
        left: 400px;
        background-color: #eff6e0;
        color: #01161e;
        line-height: 2.0em;
        opacity: 0.9;
    }
}