@media only screen and (min-width: 46em) {
    
    nav {
        background: var(--primary-color); /* Old browsers */
        
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3232', endColorstr='#aa0000',GradientType=0 ); /* IE6-9 */
        
    }
    main {
        max-width: 960px;
    }
    #contact-information {
        /*display: flex;*/
        padding: 2em 0em 3em 0em;
    }
    .contact-details {
        flex-basis: 40em;
    }
    .map {
        flex-basis: 20em;
    }
    header img {
        float: left;
        max-width: 120px;
    }
    .moto {
        font-style: italic;
        letter-spacing: 1pt;
        color: #124559;
        margin-left: 20px;
        font-size: 14px;
        font-family: "Poppins", sans-serif;
        font-weight: bold;
        margin: -25px 0px 0px 0px;
    }
    .weather-summary-overlay {
        font-family: "Poppins", sans-serif;
        padding: 0 60px;
        position: absolute;
        top: 100px;
        left: 400px;
        background-color: #eff6e0;
        color: #01161e;
        line-height: 2.0em;
        opacity: 0.9;
      }

    nav button {display: none;}
        
    nav ul.hide {display: block;}
        
    nav ul {text-align: center;}
        
    nav ul li{
        display:inline;
    }
        
    nav ul li a {
        border: none;
        padding: .6rem 1rem;
        display: inline-block;
    }

    br.responsive {
        display: none;
    }

    header img {
        width: 87%;
    }
    h1 {
        font-size: 30px;
        /* margin: 0.0.1em 0; */
    }
    h2 {
        font-size: 15px;
    }

    .moto {
        font-size: 1em;
    }

    .heading {
        font-size: .8em;
    }
}